@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
h1 {
  width: 100%;
  line-height: 400px;
  text-align: center;
  color: white;
  position: absolute;
}

p {
  color: #990000;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container-main {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  background: white;
}

.nav-social {
  position: fixed;
  left: 0;
  top: 20px;
  width: 100px;
  background: white;
  z-index: 1000;
}
.nav-social a {
  width: 100px;
  height: 70px;
  display: block;
  background-image: url(../img/socials.png);
}
.nav-social a.pinterest {
  background-position: 0 -18px;
}
.nav-social a.googleplus {
  background-position: 0 -113px;
}
.nav-social a.twitter {
  background-position: 0 -208px;
}
.nav-social a.facebook {
  background-position: 0 -303px;
}
.nav-social a.comments {
  background-position: 0 -398px;
}

.nav-internal {
  position: fixed;
  width: 200px;
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
  right: 5px;
  top: 20px;
  z-index: 1000;
}

.container-hero {
  height: 400px;
  background-image: url(http://placekitten.com/2048/400);
  width: 100%;
}

.container-main__textholder {
  flex-grow: 2;
  width: 200px;
}

.container-main__sidebar--right {
  flex-grow: 1;
  width: 100px;
}

.container-main__sidebar--left {
  flex-grow: 1;
  width: 100px;
}
