@import '_includes/_palette.scss';
@import '_includes/_text.scss';
@import '_includes/_animations.scss';
$depth__nav: 1000;
$social__unit: 95;
$social__list: pinterest googleplus twitter facebook comments;


.animated__leaf{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 50%;
	top: 200px;
	transform: translate(-100px, -100px) rotate(0deg);
	opacity: 0;
}
// #svg--leaf{
// 	fill: white;
// }

body, html{
	height: 100%;
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font__primary;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
li{
	padding: 0;
	margin: 0;
}
.container-main{
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	background: $color__primary--white;
}

.nav-social{
	position: fixed;
	left: 0;
	top: 0;
	width: 100px;
	padding: 20px 0;
	background: $color__primary--white;
	z-index: $depth__nav;
	//loop thru all soc icons and position bg image!
	@for $i from 1 through length($social__list){
		&--#{nth($social__list, $i)}{
			background-position: 0 (#{(-18 - (($i - 1) * $social__unit))}px);
		}
	}
	a{
		width: 100px;
		height: 70px;
		display: block;
		background-image: url(../img/socials.png);
	}

}
.nav-internal{
	position: fixed;
	width: 200px;
	height: 100px;
	background: rgba(0,0,0,.5);
	right: 5px;
	top: 20px;
	z-index: $depth__nav;
	h3{
		color: white;
		font-size: 15px;
		text-align: center;
	}
	ul{
		font-size: 0;
		text-align: center;
		padding: 5px;
	}
	li{
		display: inline-block;
	}
	a{
		width: 10px;
		height: 10px;
		margin: 2px;
		background: white;
		border-radius: 100%;
		display: block;
		transition: all 1s ease;
		&:hover{
			background: #e5c37d;
			transform: scale(1.5);
		}
	}
}
.container-hero{
	height: 978px;
	background-image: url(../img/hero-bg.jpg);
	background-size: cover;
	width: 100%;
}
.subheader-section{
	position:relative;
	height: 300px;
	width: 100%;
	margin-top:-30px;
}
.container-main__textholder{
	flex-grow: 2;
	width: 200px;
}
.container-main__sidebar--right{
	flex-grow: 1;
	width: 100px;
}
.container-main__sidebar--left{
	flex-grow: 1;
	width: 100px;
}
