@import '_includes/_palette.scss';
@import '_includes/_text.scss';
$depth__nav: 1000;
$social__unit: 95;

body, html{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font__primary;
}

.container-main{
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	background: $color__primary--white;
}

.nav-social{
	position: fixed;
	left: 0;
	top: 20px;
	width: 100px;
	background: $color__primary--white;
	z-index: $depth__nav;
	a{
		width: 100px;
		height: 70px;
		display: block;
		background-image: url(../img/socials.png);
		&.pinterest{
			background-position: 0 -18px;
		}
		&.googleplus{
			background-position: 0 (#{(-18 - ($social__unit))}px);
		}
		&.twitter{
			background-position: 0 (#{(-18 - (2 * $social__unit))}px);
		}
		&.facebook{
			background-position: 0 (#{(-18 - (3 * $social__unit))}px);
		}
		&.comments{
			background-position: 0 (#{(-18 - (4 * $social__unit))}px);
		}
	}

}
.nav-internal{
	position: fixed;
	width: 200px;
	height: 100px;
	background: rgba(0,0,0,.5);
	right: 5px;
	top: 20px;
	z-index: $depth__nav;
}
.container-hero{
	height: 400px;
 	background-image: url(http://placekitten.com/2048/400);
 	width: 100%;
}
.container-main__textholder{
	flex-grow: 2;
	width: 200px;
}
.container-main__sidebar--right{
	flex-grow: 1;
	width: 100px;
}
.container-main__sidebar--left{
	flex-grow: 1;
	width: 100px;
}
