.come-in.animated__leaf{
	animation:	leafdrop 1s 1s ease 1 forwards,
				leafspin 1s 1s ease 1 forwards;
}

@keyframes leafdrop{
	to{transform: translate(0,0) rotate(360deg)}
}
@keyframes leafspin{
	to{opacity: 1}
}
.animated__leaf--falling{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 200px;
	top:400px;
	transform: translate(-100px, -400px) rotate(0deg);
}
.come-in.animated__leaf--falling{
	animation:	leafdrop 1s ease 1 forwards,
				leafspin 1s ease 1 forwards;
}
