$color__primary--light: #DD0000 !default;
$color__background--chapter1: #f8f3b7;
$color__primary: #C10000 !default;
$color__primary--dark: #990000 !default;
$color__primary--white: #FFF !default;
$color__text--dark: #333 !default;